@model HertsElearningProject.Models.Users
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" style="width:45%;">
    <br />
    <br />
    <br />
    <h2>Your profile </h2>
    <table class="table table-hover" id="table">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Username)</td>
                <td>@Html.DisplayFor(model => model.Username)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Lastname)</td>
                <td>@Html.DisplayFor(model => model.Lastname)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LastLogin)</td>
                <td>@Html.DisplayFor(model => model.LastLogin)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.UserRole)</td>
                <td>@Html.DisplayFor(model => model.UserRole)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="alert-info" style="width:9%;">
    @Html.ActionLink("Edit your profile", "Edit", "Account")
</div>
<div class="alert-info" style="width:13%;">
    @Html.ActionLink("Change your password", "ChangePassword", "Account")
</div>


