@model HertsElearningProject.Models.Search
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Hit)
    @Html.HiddenFor(model => model.SearchTimeStamp)


    <div class="form-horizontal" style="width:45%;">

        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.Keyword, new { @class = "control-label col-md-2" })</td>
                    <td>@Html.TextBoxFor(model => model.Keyword, new { @class = "form-control" })</td>
                    <td>@Html.ValidationMessageFor(model => model.Keyword)</td>
                </tr>
            </tbody>
        </table>

    </div>
    <input type="submit" value="Search" class="btn btn-lg btn-primary btn-block" style="width:17%;" />
}
