@model HertsElearningProject.Models.PasswordChangeModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h2>Change Your Password</h2>
<p>
    New passwords are required to contain minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width:75%;">
        @Html.ValidationSummary(true)

        <table class="table table-hover" id="table">
            <tbody>
                <tr>
                    <td style="width:15%;">@Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })</td>
                    <td style="width:30%;">@Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })</td>
                    <td style="width:55%;">@Html.ValidationMessageFor(model => model.OldPassword)</td>
                </tr>
                <tr>
                    <td style="width:15%;">@Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })</td>
                    <td style="width:30%;">@Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })</td>
                    <td style="width:55%;">@Html.ValidationMessageFor(model => model.NewPassword)</td>
                </tr>
                <tr>
                    <td style="width: 15%;">@Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })</td>
                    <td style="width:30%;">@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })</td>
                    <td style="width:55%;">@Html.ValidationMessageFor(model => model.ConfirmPassword)</td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Proceed" class="btn btn-lg btn-primary btn-block" style="width:17%;" />
    </div>
}
